
<section class="slider">
        <%= render "layouts/slider"%>
</section>


<section class="posts">

<div class="container">

    <div class="row justify-content-center">
            <div class="col-sm-6 post-slogan"> 
                <h1> Our Blog Posts</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam</p>
            </div>
    </div>
    <% if @posts %>
    <div class="row g-2 ">
    <% @posts.each do | post |  %>
        <div class="col-md-4 col-sm-6">
            <div class="post-thumbnail border "> 
                <div class="post-image"> <%= image_tag(post.image , class: "post-img") %></div>
                <div class="post-title"> <h1> <%= post.title %> </h1> </div>
                <div class="post-content">
                    <%= truncate(post.content.html_safe,:length => 400 ) %> .... 
                    <span> <a href="<%= post_path(post) %>">Read more</a>
                    </span>
                </div >
                <div class="post-author"> 
                <%= post.author %>
                </div>
                <div class="created_at">
                published at <%= post.created_at.strftime("%Y-%m-%d")%>
                </div>
            </div>
        </div>
    <% end %>
    </div>

    <div class="row justify-content-center">
       <div class="col view-btn "> 
            <a href="<%= posts_path %>" class="post-btn-view" > View All </a>
        </div>
    </div>

    <% else %>

        <div class="row g-2 ">
         <div class="col-sm-8 post-slogan"> <h1> No Posts found </h1>
        </div>

    <% end %>
</div>

</section>


<section class="we-offer-area text-center bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-heading text-center">
                        <h2>What we <span>expect</span></h2>
                        <h4>Lorem Ipsum is simply dummy text</h4>
                    </div>
                </div>
            </div>
                <div class="row our-offer-items less-carousel">
                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fa fa-book" aria-hidden="true"></i>
                            <h4>Creative Writing</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fa fa-database" aria-hidden="true"></i>
                            <h4> Technology Lovers </h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                         <i class="fa fa-magic" aria-hidden="true"></i>
                            <h4>Artistic Minds</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                           <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                            <h4>Music Blogger</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fa fa-recycle"></i>
                            <h4>Software Blogger</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->

                    <!-- Single Item -->
                    <div class="col-md-4 col-sm-6 equal-height">
                        <div class="item">
                            <i class="fa fa-server" aria-hidden="true"></i>
                            <h4>24/7 Support</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            </p>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
        </div>
    </section>