
<section class="slider">
        <%= render "layouts/slider"%>
</section>

<section class="posts">

<div class="container">

    <div class="row justify-content-center">
            <div class="col-sm-6 post-slogan"> 
                <h1> Our Blog Posts</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum repellat quaerat voluptatibus placeat nam</p>
            
            </div>
    </div>
    <div class="row g-2 ">
    <% @posts.each do | post |  %>
        <div class="col-md-4 col-sm-6">
            <div class="post-thumbnail border "> 
                <div class="post-image"> <%= post.image %> </div>
                <div class="post-title"> <h1> <%= post.title %> </h1> </div>
                <div class="post-content">
                    <%= post.content.first(400) %> .... 
                    <span> <a href="<%= post_path(post) %>">Read more</a>
                    </span>
                </div >
                <div class="post-author"> 
                <%= post.author %>
                </div>
                <div class="created_at">
                published at <%= post.created_at.strftime("%Y-%m-%d")%>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>

</section>