<section class="edit-form">
 <div class="container">
    <div class="row justify-content-md-center">
    <h1 class="post-header text-center"> Edit Post </h1>
    <div class ="col-sm-8 ">
        <%= simple_form_for @post, :url => post_path, :method => :put do |f| %>
        <%= f.input :title  %>
        <%= f.input :content, as: :rich_text_area %>
        <%= f.input :author  %>
        <%= f.button :submit, class: 'post-btn-create' %>
        <% end %>
    </div>
     </div>
 </div>
</section>