

<section class="my-post" >
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12"> 
         <h1 class="post-header text-center"> My posts </h1>
          <a href="<%= new_post_path %>" class="post-btn-create" >  + Create Post </a>
          <br>
          <br>
         
            <table class="table table-responsive">
                <thead class="table-dark">
                    <tr>
                    <th class="col">#</th>
                    <th class="col">Title</th>
                    <th class="col-4">Content</th>
                    <th class="col">Author</th>
                     <th class="col">Image</th>
                    <th class="col">Action</th>
                    </tr>
                </thead>
                <tbody>

                <% @posts.each do |post| %>
                    <tr>
                    <th scope="row"><%= post.id %></th>
                    <td><%= post.title %></td>
                    <td><%= post.content.first(100).html_safe %>...</td>
                    <td><%= post.author %></td>
                    <td><%= image_tag(post.image , class: "post-img-2") %></td>
                    <td>
                    <a href="<%= post_path(post) %>" class="post-btn-view"> view </a>
                    <a href="<%= edit_post_path(post) %>" class="post-btn-edit"> Edit </a>
                    <%= 

                    link_to "Delete", post_path(post),
                    data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" }  ,
                    class: "post-btn-delete" 

                    %>
                    </td>

                    </tr>
                <% end %>
                </tbody>
            </table>


            <div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>

        </div>
    </div>
</div>

</section>