<section class="nav-section">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark  bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"> 
    <img src="<%= image_path('reliblog.png') %>"   height="200px" width="200px" alt="Reliblog"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= posts_path %>">Posts</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

          <% if !current_user.blank? %>
           <% if current_user.id == 1 %>
          <li><a class="dropdown-item" href="<%= categories_path %>">  <b>Create Category</b> </a></li>
           <% end %>

            <% end %>
          <% Category.all.each do |category| %>
              <li><a class="dropdown-item" href="<%= find_by_cat_path(category.id) %>">  <%= category.name %></a></li>
          <% end %>
         
            
          </ul>
        </li>

      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Posts
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="<%= new_post_path %>"> <b> Create Post </b></a></li>
            <li><a class="dropdown-item" href=" <%= my_post_path %> "> My Post</a></li>
          </ul>
        </li>

            <li class="nav-item">
          <a class="nav-link" href="<%= logout_path %>">logout</a>
        </li>
         
         <% else %>
              <li class="nav-item">
          <a class="nav-link" href="<%= login_path %>">Login</a>
        </li>
            <li class="nav-item">
          <a class="nav-link" href="<%= signup_path %>">Sign up</a>
        </li>

        <% end %>
  
      </ul>
      <%= simple_form_for :search, url: search_path, method: "GET", html: { class: 'd-flex' } do |f| %>
        <%= f.input :name, input_html: {value: ""} ,class: "form-control me-2" %>   
        <%= f.submit "Search", class: "btn btn-outline-success" %>
      <% end %>

      
    </div>
  </div>
</nav>

</section>

